
{% extends 'base-page.html' %}	
{% load static %}

{% block title %}
	About
{% endblock title %}

{% block container %}
	<!-- Start Page Title Area -->
	<div class="page-title-area">
		<div class="d-table">
			<div class="d-table-cell">
				<div class="container">
					<div class="page-title-content">
						<h2>TechMax</h2>
						<ul>
							<li><a href="/">Главная</a></li>
							<li>О нас</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Page Title Area -->
	
	<!-- Start About Section -->
	<section class="about-area section-padding">
		<div class="container">
			<div class="row d-flex align-items-center">
				<div class="col-lg-7 col-md-12 col-sm-12">
					<div class="about-content">
						<div class="about-content-text">
							<h2><span class="color-text">Прокладываем</span> путь в мир ИТ</h2>
							<p>TechMax помогает бизнесу получать максимальную отдачу от технологий и создавать новые возможности, побеждать в конкурентной борьбе и успешно решать самые сложные задачи, которые стоят на пути становления компаний будущего.
								Наши ценности и цели определяют наши действия. Мы верим, что методы достижения результата не менее важны, чем сам результат. Руководствуясь этими принципами, мы остаемся лидером инноваций.</p>
							<div class="skills">
								<div class="skill-item">
									<h6>Web Development <em>80%</em></h6>
									<div class="skill-progress">
										<div class="progres" data-value="90%"></div>
									</div>
								</div>
								<div class="skill-item">
									<h6>iOS apps <em>75%</em></h6>
									<div class="skill-progress">
										<div class="progres" data-value="75%"></div>
									</div>
								</div>
								<div class="skill-item">
									<h6>Discovery & Strategy <em>70%</em></h6>
									<div class="skill-progress">
										<div class="progres" data-value="80%"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-5 col-md-12 col-sm-12">
					<div class="about-image">
						<img src="{% static 'img/about.jpg' %}" alt="About image">
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End About Section -->
	
	<!-- Start Counter Section -->
	<section class="counter-area section-padding">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 counter-item">
					<div class="single-counter">
						<div class="counter-contents">
							<h2>
								<span class="counter-number">23</span>
								<span>+</span>
							</h2>
							<h3 class="counter-heading">Года опыта</h3>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 counter-item">
					<div class="single-counter">
						<div class="counter-contents">
							<h2>
								<span class="counter-number">500</span>
							</h2>
							<h3 class="counter-heading">Завершенных проекта</h3>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 counter-item">
					<div class="single-counter">
						<div class="counter-contents">
							<h2>
								<span class="counter-number">100</span>
								<span>+</span>
							</h2>
							<h3 class="counter-heading">Сотрудников</h3>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 counter-item">
					<div class="single-counter">
						<div class="counter-contents">
							<h2>
								<span class="counter-number">300</span>
								<span>+</span>
							</h2>
							<h3 class="counter-heading">5 - Звездочный рейтинг</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Counter Section -->
	
	<!-- Start Partner section -->
	<section class="partner-section pt-100 pb-70">
		<div class="container">
			<div class="section-title">
				<h2>Наш надежный партнер</h2>
			</div>
			<div class="partner-list">
				<div class="partner-item">
					<a href="#0">
						<img src="{% static 'img/partner-logo/client-1.jpg' %}" alt="image">
					</a>
				</div>
				<div class="partner-item">
					<a href="#0">
						<img src="{% static 'img/partner-logo/client-2.jpg' %}" alt="image">
					</a>
				</div>
				<div class="partner-item">
					<a href="#0">
						<img src="{% static 'img/partner-logo/client-3.jpg' %}" alt="image">
					</a>
				</div>
				<div class="partner-item">
					<a href="#0">
						<img src="{% static 'img/partner-logo/client-4.jpg' %}" alt="image">
					</a>
				</div>
				<div class="partner-item">
					<a href="#0">
						<img src="{% static 'img/partner-logo/client-5.jpg' %}" alt="image">
					</a>
				</div>
				<div class="partner-item">
					<a href="#0">
						<img src="{% static 'img/partner-logo/client-6.jpg' %}" alt="image">
					</a>
				</div>
				<div class="partner-item">
					<a href="#0">
						<img src="{% static 'img/partner-logo/client-7.jpg' %}" alt="image">
					</a>
				</div>
				<div class="partner-item">
					<a href="#0">
						<img src="{% static 'img/partner-logo/client-8.jpg' %}" alt="image">
					</a>
				</div>
				<div class="partner-item">
					<a href="#0">
						<img src="{% static 'img/partner-logo/client-9.jpg' %}" alt="image">
					</a>
				</div>
				<div class="partner-item">
					<a href="#0">
						<img src="{% static 'img/partner-logo/client-10.jpg' %}" alt="image">
					</a>
				</div>
			</div>
		</div>
	</section>
	<!-- End Partner section -->

	<!-- Start Purchase Section -->

	<!-- End Purchase Section -->
	{% endblock container %}
	