{% extends 'base-page.html' %}	
{% load static %}

{% block title %}
	Techmax - IT Solutions	
{% endblock title %}

{% block container %}
	<!-- End Navbar Area -->
	
	<!-- Start Page Title Area -->
	<div class="page-title-area item-bg2">
		<div class="d-table">
			<div class="d-table-cell">
				<div class="container">
					<div class="page-title-content">
						<h2>TechMax</h2>
						<ul>
							<li><a href="/">Home</a></li>
							<li>Услуги</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Page Title Area -->
	
	<!-- Start Services Section -->
	<section class="services-section pt-70 pb-100">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="single-services-item">
						<div class="services-icon">
							<i class="pe-7s-tools"></i>
						</div>
						<h3>IT Solution</h3>
						<p> Возложение на специализированную компанию полностью или частично функций по обслуживанию ИТ-инфраструктуры.</p>
						<div class="services-btn-link">
							<a href="#0" class="services-link">Читать</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-services-item">
						<div class="services-icon">
							<i class="pe-7s-display1"></i>
						</div>
						<h3>Web Development</h3>
						<p>Создаем и поддерживаем сайты и приложения. Мы поможем как над внешним видом сайта, так и над его внутренней, серверной частью.</p>
						<div class="services-btn-link">
							<a href="#0" class="services-link">Читать</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-services-item">
						<div class="services-icon">
							<i class="pe-7s-share"></i>
						</div>
						<h3>Networking Services</h3>
						<p>Услуги традиционной телефонии и телеграфа, услуги сетей передачи данных и доступа в Интернет, мобильной связи, услуги интеллектуальной и спутниковой сети</p>
						<div class="services-btn-link">
							<a href="#0" class="services-link">Читать</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-services-item">
						<div class="services-icon">
							<i class="pe-7s-graph1"></i>
						</div>
						<h3>SEO Optimization</h3>
						<p>Технология раскрутки сайта в поисковой выдаче с целью получения трафика. В основе работы лежит знание алгоритмов ранжирования ресурсов в выдаче и улучшение критериев сайта с целью выведения его в топ</p>
						<div class="services-btn-link">
							<a href="#0" class="services-link">Читать</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-services-item">
						<div class="services-icon">
							<i class="pe-7s-config"></i>
						</div>
						<h3>App Optimization</h3>
						<p> Оптимизация страницы мобильного приложения в App Store и Google Play для улучшения его видимости и конверсии посетителей в скачивания. </p>
						<div class="services-btn-link">
							<a href="#0" class="services-link">Читать</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-services-item">
						<div class="services-icon">
							<i class="pe-7s-server"></i>
						</div>
						<h3>Data Recovery</h3>
						<p> Процедура извлечения информации с запоминающего устройства в случае, когда она не может быть прочитана обычным способом.</p>
						<div class="services-btn-link">
							<a href="#0" class="services-link">Читать</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Services Section -->
	

	<!-- End Purchase Section -->
	
	{% endblock container %}